# This is a .gitignore file that specifies files and directories that should be ignored by Git when tracking changes in a repository. 
# The file contains a list of file patterns that Git should ignore. 
# This specific file contains patterns for ignoring history files, session data files, user-specific files, example code in package build process, output files from R CMD build and check, RStudio files, produced vignettes, OAuth2 token, knitr and R markdown default cache directories, temporary files created by R markdown, R Environment Variables, and large files related to article annotations, full versions, validity data workflow output, regex processed, udpipe processed, nametag processed, sentiment processed, and topic analysis processed.

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Large files:
## Article annotations
1.data_extraction/data/annotated_articles/*.rds

## Article full versions
1.data_extraction/data/full_articles/*.rds

## Article validity data workflow output
1.data_extraction/data/data_validity/*.rds

## Article regex processed
2.data_transformations/data/regex_processed/*.rds

## Article udpipe processed
2.data_transformations/data/udpipe_processed/*.rds

## Article nametag processed
4.data_analysis/named_entity_recognition/data/*.rds

## Article sentiment processed
4.data_analysis/sentiment_analysis/data/*.json

## Article topic analysis processed
4.data_analysis/topic_modeling/data/**/*.json
4.data_analysis/topic_modeling/data/**/*.rds





